.animated-dropdown {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .animated-dropdown.show {
    opacity: 1;
    transform: translateY(0);
  }
  